@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 4";
}


<h1>Spencer LeRoy Jacklin (But just Spencer is fine)</h1>

<!--What I like to do-->
<h2>Going to musicals</h2>
<img src="img/IMG_2983.jpg" width="400" height="500" />
<p>
    My girlfriend Kimball has introduced me to lots of new music-almost all of which has been musical theater.
    Since then, Kimball and I have gone to lots of musicals which has been a blast!!
</p>

<h2>What I hope to learn</h2>
<p>
    So far this has been one of my favorite classes in the core! It has been so fun to learn C# because I did CS142 so it has
    been of a blast from the past. It also has come pretty easy to me which has me really excited for this class. But most of all
    I'm looking forward to being able to gain the skills needed for industry and hopefully create some fun projects for myself!
</p>

<h2>Top 3 careers I'm interested in:</h2>
<ul>
    <li>Database Analyst</li>
    <li>Software Engineer</li>
    <li>Software Developer</li>
</ul>


